<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coronainfected.status">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19Tracker">
        <activity android:name="com.coronainfected.status.StateCovidInformation" />
        <activity android:name="com.coronainfected.status.AffectedStates" />
        <activity android:name="com.coronainfected.status.CountryCovidInformation" />
        <activity android:name="com.coronainfected.status.AffectedCountry" />

        <activity android:name="com.coronainfected.status.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>