<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infected.status">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19Tracker"
        android:hardwareAccelerated="true">
        <activity android:name="com.infected.status.StateCovidInformation"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.infected.status.AffectedStates"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.infected.status.CountryCovidInformation"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.infected.status.AffectedCountry"
            android:hardwareAccelerated="true"/>
        <activity android:name="com.infected.status.MainActivity"
            android:hardwareAccelerated="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7419751706380309~1728255032"/>

    </application>

</manifest>